<!DOCTYPE html>
<html style="" class=" page-home js no-touch hashchange history draganddrop backgroundsize csstransforms csstransforms3d csstransitions localstorage"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
	<title>artuus</title> 
	<script>(function(){
		var html = document.documentElement;
		html.className = html.className.replace('no-js', '');
	})();</script> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script><![endif]--> 
    <link rel="shortcut icon" href="http://www.monicadecardenas.com/static/favicon.ico">
	<script>window.settings = { 
		static_url: '/static/',
		language: 'en',
		csrf: 'pbhhFUibUGxmqpvTGypGp2Wk6rZd7HfS',
		urls: {
			static: '/static/',
			media: '/media/',
			api: '/en/api/v1'
		} ,user: {
				username: '',
				fullname: '' 
			} 
	}</script> 
	<link rel="stylesheet" href="/static/monica/css/featured-theme.css">
	<script src="/static/monica/js/modernizr.js"></script> 
<span></span></head> 
<body class=""> 
	<script>
		window.touch=('ontouchstart' in window);
		if(touch)document.body.className+=' touch';
	</script> 
	<header id="header" style="height:70px">
		<!-- <div id="titles"> -->
		<div style="float: left">
            <h1 style="display: inline; font-family: Times; color: red" class="title">artuus</h1>
            <h2 style="display: inline; font-family: Times" class="subtitle"></h2>
		</div>

        {% block nav %} Navigation {% endblock %} 

	</header> 

    {% block featured_images %} Featured Images {% endblock %} 

	<script src="/static/monica/js/featured-vendor.js"></script>
	<script src="/static/monica/js/featured-theme.js"></script>
	<script>;require('scripts');</script>

<div id="xunlei_com_thunder_helper_plugin_d462f475-c18e-46be-bd10-327458d045bd"></div>

</body></html>
