<div class="content">
    {{ album.desc|safe }}
</div>

<!-- 				<div class="content&#45;alt"> -->
<!-- 					<p><strong>CHRISTINE STREULI</strong><br><strong>Ickelackebana</strong><br><strong>15 gennaio &#45; 30 maggio<br></strong></p> -->
<!-- <p>Siamo felici di annunciare una mostra di opere recenti di Christine Streuli negli spazi della galleria di Lugano.</p> -->
<!-- <p>Per i suoi quadri l’artista svizzera trae spunto da un patrimonio  -->
<!-- infinitamente ampio di situazioni visive, cui la sua pittura attinge  -->
<!-- liberamente: vi si trovano elementi di opere pittoriche della storia  -->
<!-- dell’ arte europea e americana, di cui è una grande conoscitrice, come  -->
<!-- pure forme astratte, decorazioni e motivi di culture extraeuropee,  -->
<!-- elementi della vita quotidiana, immagini tratte da pubblicità,  -->
<!-- salva&#45;schermi o erbari antichi.</p> -->
<!-- <p>Immagini, suggestioni, motivi provenienti da culture differenti si  -->
<!-- incontrano e convivono sulla tela, dando vita a qualcosa di  -->
<!-- completamente nuovo, carico di un’energia vitale incontrollata e  -->
<!-- difficile da arginare. Nelle sue mostre recenti le pitture di Streuli  -->
<!-- tendono infatti a straripare dal quadro e invadere la parete e lo spazio -->
<!--  reale, dialogando con l’architettura. Nelle sue mostre recenti al  -->
<!-- Kunstmuseum di Lucerna e all’ Haus am Wannsee a Berlino ha creato  -->
<!-- ambienti totalmente immersivi, volti ad attivare una partecipazione  -->
<!-- piena e personale da parte del pubblico.</p> -->
<!-- <p>Le opere di Streuli dispiegano i loro alti livelli di energia anche  -->
<!-- attraverso segni astratti di velocità, colore e spazialità. Citazioni,  -->
<!-- ripetizioni ed effetti specchiati animano lo spazio pittorico e sono  -->
<!-- altrettanto spontanei quanto sofisticati nella pianificazione e nell’  -->
<!-- esecuzione. L’arista segue il principio di “uno e l’altro” piuttosto che -->
<!--  “l’uno o l’altro”, lavorando sia in superfice che in profondità;  -->
<!-- combina parti libere e spontanee con elementi grafici molto ordinati e  -->
<!-- organizzati, così che ogni nuova opera genera l’impressione di una  -->
<!-- totale simultaneità di aspetti disparati. Per questo i dipinti di  -->
<!-- Streuli possono essere letti anche come metafore della comunità  -->
<!-- informatica globale, che con la sua disponibilità senza limiti pone  -->
<!-- nuove sfide ad ogni singolo individuo.</p> -->
<!-- <p>Nata a Berna nel 1975, Christine Streuli ha studiato a Zurigo e a  -->
<!-- Berlino e negli ultimi anni ha vissuto tra Berlino, Londra e New York.  -->
<!-- Nel 2007 ha rappresentato la Svizzera alla Biennale di Venezia, nel 2008 -->
<!--  ha esposto al Kunsthaus Aarau e ad ArtUnlimited a Basilea, nel 2009 al  -->
<!-- Kunstverein Oldenburg, nel 2010 al Museum Marta Herford a Herford in  -->
<!-- Germania, nel 2013 al Kunstmuseum a Lucerna e all’Haus Am Waldsee a  -->
<!-- Berlino, nel 2014 ha partecipato alla Biennale a Sydney.</p> -->
<!-- <p>&#38;nbsp;</p> -->
<!-- 				</div> -->
<!-- 				<div class="attachment download download&#45;press&#45;release"> -->
<!-- 					<a href="http://monicadecardenas.com/media/attachments/2015/1/15/streuli%20pdf.pdf"> -->
<!-- </a><a href="http://monicadecardenas.com/media/attachments/2015/1/15/streuli%20pdf.pdf"> -->
<!-- 	<div class="title">Press Release Christine Streuli</div> -->
<!-- 	<div class="description"> -->
<!-- 	</div> -->
<!-- 	<div class="download"> -->
<!-- 			Download here in “.pdf” format -->
<!-- 		 &#45; -->
<!-- 		125.8 KB -->
<!-- 	</div> -->
<!-- </a> -->
<!-- 				</div> -->
